header {
    border-bottom: 1px solid #7ae000;
    background: #1f1f1f;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.25);
    height: 150px;

    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;

    > nav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        a:hover {
            color: #98f22a;
        }
        a:active {
            color: #71ab2b;
        }
    }
    .buter > span {
        opacity: 100;
        transition: 0.4s;
    }
    .navMabail {
        display: none;
        transition: 0.6s;
    }
    .header--buttons {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    @media (max-width: 450px) {
        > nav a,
        > span,
        .header--buttons {
            display: none;
        }
        .buter {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;

            span {
                height: 10px;
                width: 60px;
                border-radius: 5px;
                background-color: #7ae000;
            }
        }
        .buter.act {
            > span:nth-child(1) {
                transform: translateY(150%) rotate(45deg);
                width: 60px;
            }
            > span:nth-child(2) {
                background-color: #1f1f1f;
            }
            > span:nth-child(3) {
                transform: translateY(-150%) rotate(-45deg);
                width: 60px;
            }
        }
        .navMabail {
            top: 150px;
            right: -500px;

            display: flex;
            flex-direction: column;
            gap: 50px;
            position: absolute;

            width: 97vw;
            height: fit-content;
            background-color: #1f1f1f;
            padding: 20px 0;
            box-sizing: border-box;
        }
        .navMabail.act {
            right: 0;
        }
    }
}

.openModalBtn {
    box-sizing: border-box;
    border-radius: 1rem;
    border: 5px solid #6aac1b;
    background: #7ae000;

    color: #1e1e1e !important;
    font-family: Inter;
}
